header{
    background-color: #3C3C3B;
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;

}
h1{
    margin: 0;
}
.user-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 250px;
    
    
}
.avatar{
    width: 50px;
    height: 50px;
    background-color: #2DB7C4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-weight: 1000;
    font-size: 20px;
    margin-right: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.363);
}
.fullname{
    font-size: 20px;
}